.userstochoose {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.eachUser__box {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: 10px;
}