.dashboard {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.dashboard__tab {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}